@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{ 
box-sizing: border-box;
user-select: none;
}

p, hr{
    position: fixed;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #edf0f1;
    text-decoration: none;
    letter-spacing: 20px;
    font-size: 23px;
    top: 43%;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
}

.textoC{
    position: fixed;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #edf0f1;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 13px;
    top: 55%;
    left: 75%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn_txt{
    font-size: 10px;
    letter-spacing: 0px;
    text-align: center;
}
@media only screen and (max-width: 1024px){
    p, hr{
        position: fixed;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: #edf0f1;
        text-decoration: none;
        letter-spacing: 13px;
        font-size: 13px;
        top: 45%;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
       
    }
    
    .textoC{
        position: fixed;
        text-align: left;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: #edf0f1;
        text-decoration: none;
        letter-spacing: 0px;
        font-size: 13px;
        top: 55%;
        left: 50%;
        width: 90%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .btn_txt{
        font-size: 10px;
        letter-spacing: 0px;
        text-align: center;
    }
}