@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}

li, a, p, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #edf0f1;
    text-decoration: none;
    
}
table{
    /**border: 1px solid white;
    border-collapse: collapse;**/
    
    font-size: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #edf0f1;
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 0px;
    
}

tr, td{
    /**border: 1px solid white;
    border-collapse: collapse;**/
    width: 25%;
}

button{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin: 0;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.button1:hover{
    transition: all 0.3s ease 0s;

        background-color: darkred;
}

.textoc{
    position: absolute;
    text-align: center;
    letter-spacing: 0px;
    font-size: 23px;
    top: 50%;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
}

.textoP{
    position: absolute;
    text-align: center;
    letter-spacing: 20px;
    font-size: 23px;
    top: 40%;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.textoP2{
    position: absolute;
    text-align: center;
    letter-spacing: 40px;
    font-size: 23px;
    top: 45%;
    left: 50%;
    width: 100%;
    color: red;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
}
.textoP3{
    position: absolute;
    text-align: center;
    letter-spacing: 20px;
    font-size: 18px;
    top: 60%;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.textoE{
    position: absolute;
    text-align: center;
    letter-spacing: 20px;
    font-size: 23px;
    top: 15%;
    left: 50%;
    width: 100%;
    color: red;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.textoE2{
    position: absolute;
    text-align: center;
    letter-spacing: 40px;
    font-size: 23px;
    top: 45%;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 0%;
    background-color: rgba(16.5, 16.5, 16.5, 100%);
    position: fixed;
    width: 100%;
    z-index: 2;
    
}
.color-box{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 50%);
    right: 0;
    top: 0;
    height: 10%;
    width: 100%;
    z-index: 1;
    
    
}
.color-box-footer{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 50%);
    right: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    z-index: 1;
    
    
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3% 3%;
    background-color: rgba(0, 0, 0, 50%);
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 1;

}
 .btn_txt{
        font-size: 11px;
	text-align: center;
    }
.nav__links{
    list-style: none;
    
}

.nav__links li{
    
    display: inline-block;
    padding: 0px 13px;
    position: relative;
    right: 116%;

    
    
}

.nav__links li a{
    transition: all 0.3s ease 0s;
        font-weight: bold;
	font-size: 10px;
}

.nav__links li a:hover{
    color: red;

}

.rede_s{
    width: 15px;
    height: 15px;    
}
.rede_sf{
    width: 30px;
    height: 30px;    
}
.fotos_profile{
    width: 150px;
    height: 150px;    
}

.profile_conf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10% 50%;
}

.profile_conf li{
    display: inline-block;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.redess__links{
    list-style: none;
    background-color: darkred;    
    padding: 10px 10px;
	
}
.redess__links li{
    display: inline-block;
    padding: 0px 5px;

}

.std{
        font-size: 13px;    
    color: red;
    letter-spacing: 2.5px;

}
.leolima{
    letter-spacing: 5px;
        font-weight: bold;
        font-size: 13px;
        
}
.hd{
    padding: 0% 3%;

}
.profile_text{
    font-size: 10px;
    text-align: center;
}
.tabcontent{
    animation: fadeEffect 1s;
    color: white;
    letter-spacing: 5px
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.proj_back{
    position: fixed;
    left: 50%;
    width: 60%;
    z-index: -1000;
}
.img_back{
    display: none;
}

* { box-sizing: border-box; }

@media only screen and (max-width: 1024px){
    li, a, p, button{
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        
    }
    .color-box{
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 50%);
        right: 0;
        top: 0;
        height: 10%;
        width: 100%;
        z-index: 1;
        
        
    }
    .color-box-footer{
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 50%);
        right: 0;
        bottom: 0;
        height: 10%;
        width: 100%;
        z-index: 1;
        
        
    }
    /*PAGINA INICIAL*/
    .img_back{
        display: block;
        position: fixed;
        height: 100%;
        z-index: -1000;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .std{
    
        color: red;
        font-size: 12px;
        letter-spacing: 5px;
    }
    .leolima{
        letter-spacing: 5px;
    }
    .textoc{
        position: fixed;
        text-align: center;
        letter-spacing: 5px;
        font-size: 9px;
        top: 45%;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-weight: bold;
       
    }
    .redess__links{
        display: none;
    }
    .test_a{
        
        position: fixed;
        top: 7%;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .nav__links li{

        display: inline-block;
        padding: 0px 13px;
        right: 0%;
        left: 3.5%; 
    }
    .btn_txt{
        font-size: 8px;
        text-align: justify;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        top: 2%;
        width: 100%;
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5% 5%;
        background-color: rgba(0, 0, 0, 50%);
        position: fixed;
        width: 100%;
        z-index:1;
    }
    .video-background{
        display: none;
    }
    /*PAGINA PROJETOS*/
    .textoP{
        position: fixed;
        text-align: center;
        letter-spacing: 15px;
        font-size: 15px;
        top: 40%;
        left: 51.5%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .textoP2{
        position: fixed;
        text-align: center;
        letter-spacing: 30px;
        font-size: 13px;
        top: 43%;
        left: 51.5%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-weight: bold;
    }
    .textoP3{
        position: fixed;
        text-align: center;
        letter-spacing: 20px;
        font-size: 18px;
        top: 50%;
        left: 51.5%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .proj_back{
        position: fixed;
        top: 20%;
        left: 20%;
        width: 100%;
        z-index: -1000;
        }
    /*PAGINA EQUIPE*/
    .fotos_profile{
        width: 120px;
        margin: 0 20px;
        height: 120px;    
    }
    /*PAGINA CONTATO*/
    .textoE{
        position: fixed;
        text-align: center;
        letter-spacing: 15px;
        font-size: 15px;
        top: 15%;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-49%, -50%);
        transform: translate(-49%, -50%);
    }
}

/*@media only screen and (max-width: 1080px){
    li, a, p {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 35px;
        color: #edf0f1;
        text-decoration: none;
        
    }
    /*PAGINA INICIAL
    .std{
    
        color: red;
        font-size: 35px;
        letter-spacing: 15px;
    }
    .leolima{
        letter-spacing: 15px;
    }
    .textoc{
        position: absolute;
        text-align: center;
        letter-spacing: 10px;
        font-size: 35px;
        top: 45%;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
       
    }
    .redess__links{
        display: none;
    }
    .test_a{
        background-color: black;
        position: fixed;
        top: 6%;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .nav__links li{
        background-color: black;
        display: inline-block;
        padding: 0px 13px;
        right: 0%;
        left: 3.5%; 
    }
    button{
        font-family: "Montserrat", sans-serif;
        font-weight: 300;  
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid white;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        position: absolute;
        margin: 0;
        top: 53%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .btn_txt{
        font-size: 25px;
        text-align: justify;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        background-color: rgba(0, 0, 0, 100%);
        position: fixed;
        top: 2%;
        width: 100%;
        z-index:1;
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        background-color: rgba(0, 0, 0, 100%);
        position: fixed;
        width: 100%;
        z-index:1;
        bottom: 2%;
    }
    .video-background{
        display: none;
    }
    /*PAGINA PROJETOS
    .textoP{
        position: absolute;
        text-align: center;
        letter-spacing: 35px;
        font-size: 55px;
        top: 40%;
        left: 51.5%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .textoP2{
        position: absolute;
        text-align: center;
        letter-spacing: 60px;
        font-size: 55px;
        color: red;
        top: 43%;
        left: 51.5%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-weight: bold;
    }
    .textoP3{
        position: absolute;
        text-align: center;
        letter-spacing: 30px;
        font-size: 50px;
        top: 50%;
        left: 51.5%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .proj_back{
        position: fixed;
        top: 20%;
        left: 20%;
        width: 100%;
        z-index: -1000;
        }
    /*PAGINA EQUIPE
        .fotos_profile{
            width: 200px;
            height: 200px;    
        }
        .profile_text{
            font-size: 40px;
            text-align: center;
        }
}*/
